body{
    padding: 2pc;
    align-content: center;
}
.heading {
    align-content: center;
}
.incredients {
    display: flex;
    flex-wrap: wrap;
}

.single_incredient {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: .1pc;
}
.typing_box {
    display: flex;
    justify-items: center;
    align-items: center;
}

.typing_box  input { 
    width: 75%;
}